---
interface Props {
  class?: string;
  title?: string; // Optional helper prop
  description?: string; // Optional helper prop
  icon?: any; // Optional helper prop
}

const { class: className, title, description } = Astro.props;
---

<div class:list={[
  "rounded-3xl border border-black/5 dark:border-white/10 bg-black/5 dark:bg-white/5 p-8 relative overflow-hidden",
  className
]}>
  <slot />
</div>
